In [2]:
import pandas as pd

In [3]:
file_to_load = "HeroesOfPymoli_data.csv"

In [4]:
#show what data we have to work with 
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [135]:
#find total number of players - needs to be unique ones
total_players = len(purchase_data["SN"].unique())

576

In [6]:
#find number of unique items(games) from Item ID
num_unique_item = len(purchase_data["Item ID"].unique())
num_unique_item

179

In [7]:
#Find average purchase price 
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [8]:
#find total purchase numbers by count
total_num_purchase = purchase_data["Purchase ID"].count()
total_num_purchase

780

In [9]:
#find total revenue by sum 
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [10]:
#put all of the above data into a data frame
summary_df = pd.DataFrame({"Number of Unique Items": [num_unique_item],
                              "Average Price": avg_price,
                              "Number of Purchases": total_num_purchase,
                              "Total Revenue": total_revenue})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

# Gender Demographics

In [21]:
#find the each gender type in the purchase data
maleplayer = purchase_data.loc[purchase_data["Gender"]=="Male", :]

femaleplayer = purchase_data.loc[purchase_data["Gender"]=="Female", :]

otherplayer = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed", :]

In [22]:
#find the total unique SN in that gender for purchase data
totalmale =len(maleplayer["SN"].unique())
totalfemale = len(femaleplayer["SN"].unique())
totalother = len(otherplayer["SN"].unique())

In [41]:
#find the percent for each gender divide by the total players 
percentmale = totalmale/total_players*100
percentfemale = totalfemale/total_players*100
percentother = totalother/total_players*100
percentother

1.9097222222222223

In [48]:
#make a data frame for summary of above data by converting the call in into dicts
summarydemographics = {"Total Count":[totalmale,totalfemale,totalother],'Percentage of Players':[percentmale,percentfemale,percentother]}
#need to show the index to apply it to and round the perecentage 2 decimal places
df = pd.DataFrame(summarydemographics, index=['Male','Female','Other'])
df.round(2)

        Total Count  Percentage of Players
Male            484                  84.03
Female           81                  14.06
Other            11                   1.91

# purchasing analysis(Gender)

In [49]:
#find the purchase counts first for each gender
malepurchcount = (maleplayer["Item ID"].count())
femalepurchcount = (femaleplayer["Item ID"].count())
otherpurchcount = (otherplayer["Item ID"].count())

In [50]:
#find the average purchase price for each gender 
avgpurchmale = (maleplayer["Price"].mean())
avgpurchfemale = (femaleplayer["Price"].mean())
avgpurchother = (otherplayer["Price"].mean())

In [56]:
#find the total purchase value for each gender 
totalpurchasemale = (maleplayer["Price"].sum())
totalpurchasefemale = (femaleplayer["Price"].sum())
totalpurchaseother = (otherplayer["Price"].sum())

50.19

In [86]:
#find the average total purchase per person
averageppM = totalpurchasemale/totalmale
averageppF = totalpurchasefemale/totalfemale
averageppO = totalpurchaseother/totalother
averageppO

4.5627272727272725

In [212]:
#grab all the data and put into dict with column names
summarypurchasing = {"Purchase Count":[femalepurchcount,malepurchcount,otherpurchcount],'Average Purchase Price':[avgpurchfemale,avgpurchmale,avgpurchother],'Total Purchase Value':[totalpurchasefemale,totalpurchasemale,totalpurchaseother],"Avg Total Purchase per Person":[averageppF,averageppM,averageppO]}
#put all this data into the dataframe
sumpurchdf = pd.DataFrame(summarypurchasing, index=['Female','Male','Other/Non-Disclosed'])
#style the data to show dollar signs and round 2 decimal places
df_style = sumpurchdf.style.format({'Average Purchase Price': "${:.2f}",'Total Purchase Value': "${:.2f}",'Avg Total Purchase per Person': "${:.2f}"})
df_style

# Age Demographics

In [101]:
#find min and max of the ages
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [137]:
#make bins up to the max age range
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,44.9]
#define the labels you want for your groups
group_labels = ["<10","10 to 14","15-19","20-24","25-29","30-34","35-39","40+"]
#cut the data by age column
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10 to 14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [213]:
# Place the data series into a new column inside of the original data frame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [214]:
#show the data gropued by the age group so that is on the left column 
age_grouped_df = purchase_data.groupby("Age Group")
#find number of unique SN by age group 
age_count = age_grouped_df["SN"].nunique()
#find number of unique players 
totalplayer = purchase_data["SN"].nunique()
#find the percent of players based on the 
age_percent = (age_count/totalplayer)*100

In [154]:
#create new DF from the data above
age_df = pd.DataFrame({"Total Count":age_count, "Percentage of Players":age_percent})
age_df.round(2)

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10 to 14            22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 11                   1.91

# Purchasing Analysis (Age)

In [164]:
#find the data & calcs req for next DF using the binned age data from above 
purch_count = age_grouped_df["Item ID"].count()
avg_price = age_grouped_df["Price"].mean()
total_purch_value = age_grouped_df["Price"].sum()
avg_total_pp = total_purch_value/age_count

#create new dataframe with the above data
purch_analysis = pd.DataFrame({"Purchase Count":purch_count,"Average Purchase Price":avg_price,"Total Purchase Value":total_purch_value,"Avg Total Purchase per Person":avg_total_pp})

#style new data frame with dollar signs and to 2 decimal places
analysis_df_style = purch_analysis.style.format({'Average Purchase Price': "${:.2f}",'Total Purchase Value': "${:.2f}",'Avg Total Purchase per Person': "${:.2f}"})
analysis_df_style

# Top Spenders

In [180]:
#show the data grouped by the SN 
top_spender_grouped = purchase_data.groupby("SN") 
#find the calcs for purch count, avg price, total purchase & avg per person
top_purch_count = top_spender_grouped["Item ID"].count()
avg_purch_price = top_spender_grouped["Price"].mean()
total_purch = top_spender_grouped["Price"].sum()

#create new dataframe with the above data
top_spender = pd.DataFrame({"Purchase Count":top_purch_count,"Average Purchase Price":avg_purch_price,"Total Purchase Value":total_purch})

#style new data frame with dollar signs and to 2 decimal places,desceding by total purch value
top_df_sort = top_spender.sort_values(by='Total Purchase Value',ascending=False).head()
top_df_style = top_df_sort.style.format({'Average Purchase Price': "${:.2f}",'Total Purchase Value': "${:.2f}"})
top_df_style

# Most Popular Items

In [210]:
#show the data grouped by the item id, item name and the price as requested
most_pop_df = purchase_data[["Item ID","Item Name","Price"]]

#index needs to be grouped by both Item ID and Item name
groupby_pop = most_pop_df.groupby(["Item ID","Item Name"])
pop_count = groupby_pop["Item ID"].count()
pop_price_total = groupby_pop["Price"].sum()
item_price = pop_price_total/pop_count

#create new dataframe with the above data
pop_item_df = pd.DataFrame({"Purchase Count":pop_count,"Item Price":item_price,"Total Purchase Value":pop_price_total})

#style new data frame with dollar signs and to 2 decimal places,desceding by purch count
pop_df_sort = pop_item_df.sort_values(by='Purchase Count',ascending=False).head()
pop_df_style = pop_df_sort.style.format({'Item Price': "${:.2f}",'Total Purchase Value': "${:.2f}"})
pop_df_style

# # Most Profitable Items

In [211]:
most_pop_df = purchase_data[["Item ID","Item Name","Price"]]
groupby_pop = most_pop_df.groupby(["Item ID","Item Name"])
pop_count = groupby_pop["Item ID"].count()
pop_price_total = groupby_pop["Price"].sum()
item_price = pop_price_total/pop_count
pop_item_df = pd.DataFrame({"Purchase Count":pop_count,"Item Price":item_price,"Total Purchase Value":pop_price_total})

pop_df_sort = pop_item_df.sort_values(by='Total Purchase Value',ascending=False).head()
pop_df_style = pop_df_sort.style.format({'Item Price': "${:.2f}",'Total Purchase Value': "${:.2f}"})
pop_df_style

Obsverable Trends:
#1. The age bracket of 20-25 purchases more games than any other age group, however the age bracket of 35-39 is likely to spend more on average per person. 
#2. Males buy more games than females but the average purchase price for males is lower by 18cents
#3. The gamer who has bought the most games is Lisosia93, however Chamjask73 has bought only 2 less games but spends average of 82cents more per game purchased.